@import url("https://fonts.googleapis.com/css?family=Anton");

html,
body {
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.title-font {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  color: #133a53;
}

a {
  color: #444;
  font-size: 14px;
  font-weight: 600;
}

a:hover {
  color: #da570b;
  transition: all 0.3s ease-in-out;
}

#articles {
  background: white;
  color: #000;
}

.deleteNote {
  font-weight: 600;
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: transparent;
}

input {
  font-size: 1rem;
}
