@import url("https://fonts.googleapis.com/css?family=Anton");

html,
body {
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.title-font {
  font-family: "Anton", sans-serif;
  font-size: 4.5rem;
  color: #1b81c5;
  text-shadow: 0 2px 1px #04111a;
}

a {
  color: #444;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

#articles {
  padding: 10px;
  background: white;
  color: #000;
}

.deleteNote {
  font-weight: 600;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: transparent;
}

input {
  font-size: 1rem;
}
